.sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 30px;
    padding-left: 10px;
}
.sidebar a {
    color: #454545;
    padding-top: 8px;
} 
  
.sidebar a:hover {
    background-color: #bababa;
    color: #454545;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 
  


  