@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
}

/* General CSS */

body {
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1024px;
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: white;
}

.main {
  background-color: white;
  padding: 24px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
}

.sidebar{
  width: 230px;
}

.swiperslide img {
  padding: 10% !important;
  width: 80% !important;
}

a{
  cursor: pointer !important;
}