.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    background-color: white;
    
  }

.header img {
  height: 122px;
  padding-top: 20px;
  padding-left: 20px;
}

.flags img{
  height: 30px;
}

.flags{
  padding-left: 30%;
}