table, td {
    border:1px solid #454545;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
   
}

.table tr a{
    color: #454545;
    
}

.table tr td{
    display: flex;
    align-items: center;
}


.table tr :hover{
    background-color: #bababa;
    
}

#data{
    margin: 20px;
    margin-bottom: 60px;
    margin-left: 25%;
  }

.datasetContent{
    width: 700px;
    padding: 20px;
    padding-left: 140px;
  
}