.navigation ul {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
    padding: 0 95px;
    border-radius: 10px;
    background-color: white;
}

.navigation {
    background-color: #bababa;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
  
.navigation ul li {
    list-style-type: none;
}

.navigation ul li:hover {
    background-color: #e3e3e3;
    color: #454545;
    border-radius: 4px;
}
  
.navigation ul li a {
    text-decoration: none;
    color: #454545;
    font-size: 18px;
}
  
.navigation img{
    height: 42px;
}