.content {
    flex-grow: 6;
    margin: 30px;
    
}

.content p{
    padding-left:1em; 
    text-indent :3em;
}
  
.content #performanceTitle{
    margin: 30px;
    margin-left: 25%;
}

.swiper {
    margin: 10px;
    width: 630px;
    height: 450px;
  }
