
/* .accordion{
    margin: 20px;
    margin-left: 5px;
}

.accordion-title{
    margin: 20px;
    margin-left: 0px;
} */

#detectors{
    padding: 8px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-left: 0px;
}

/* .detectors li{
    color: #454545;
    padding-top: 8px;
    margin-left: 20px;
}  */
/* 

.detectorSidebar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 30px;
    padding-left: 10px;
} */


.detectorSidebar ul{
    margin: 20px;  
    margin-top: 0px;
    margin-left: 5px;
}
 
.detectorSidebar ul li{
    margin: 10px;  
    margin-left: 20px;


}

.detectorSidebar ul li:hover, .detectorSidebar ul li.selected{
    background-color: #bababa;
    color: #454545;
    padding: 10px 20px;
    width: 100px;
    height: 20px;
    text-align: center;
    display: inline-block;
} 

.detectorSidebar ul li.selected{
    background-color: #DCDCDC;
}