
.accordion{
    margin: 20px;
    margin-left: 5px;
}

.accordion-title{
    margin: 20px;
    margin-left: 0px;
}

#detectorG{
    padding: 8px;
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
}

.detectors li{
    color: #454545;
    padding-top: 8px;
    margin-left: 20px;
} 


.getectorSidebar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 30px;
    padding-left: 10px;
}

.groups {
    color: #454545;
    padding-top: 8px;
} 
  
.groups:hover {
    background-color: #bababa;
    color: #454545;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 

  