.content {
    flex-grow: 6;
    margin: 30px;
    
  }
  
.content #basic{
    margin: 30px;
    padding-left: 30%;
}

.content p{
    padding: 10px;
}

.concepts, .notation{
    margin: 30px;
    padding-left: 10%;
}

.subtitle{
    font-size: 20px;
    margin: 20px;
    margin-top: 50px;
}

.concepts li, .notation li{
    margin: 10px;
}

#keystroke{
    width: 600px;
    padding-left: 100px;
}
  
  