.detectorGroupSidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 50px;
    padding-left: 10px;
}
.detectorGroupSidebar a {
    color: #454545;
    padding: 8px;
    padding-left: 0;
} 
  
.detectorGroupSidebar a:hover, .detectorGroupSidebar a.selected {
    background-color: #bababa;
    color: #454545;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 

#detectorGroupTitle{
    font-size: 20px;
}

.detectorGroupSidebar a.selected {
    background-color: #DCDCDC;
}