.content {
    flex-grow: 6;
    margin: 30px;
    
}

.content p{
    padding-left:1em; 
    text-indent :3em;
}
  
.content #scope{
    margin: 30px;
    margin-left: 25%;
}

.list{
    margin: 15px;
    margin-left: 10%;
}