/* .content {
    flex-grow: 6;
    margin: 30px;
    
}

.content p{
    padding-left:1em; 
    text-indent :3em;
}
  
.content #dataTitle{
    margin: 30px;
    margin-left: 25%;
} */

.myDataSwiper{
    height: 455px !important;
}

.dataImages img{

}
